<! -- sidebar.html -->
<header class="sidebar-header" role="banner">
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/media/image/bymax.jpg" class="img-circle" />
	</a>
	<h3 class="title">
        <a href="{{ site.BASE_PATH }}/">Real Li Blog</a>
    </h3>
</header>


<div id="bio" class="text-center">
	Hello every body
</div>


<div id="contact-list" class="text-center">
<nav>
       <span><a title="home page" class="" href="/">Home</a></span>
        <span><a title="categories" class="" href="/categories/">Categories</a></span>
        <span><a title="tags" class="" href="/tags/">Tags</a></span>
        <span><a title="about" class="" href="/about/">About</a></span>
        <!-- <span><a title="links" class="" href="/links/">Links</a></span> -->
        <span><a title="subscribe by RSS" class="" href="/feed/">Subscribe</a></span>
        </nav>
		
		
		
</div>
<! -- sidebar.html end -->